@model List< Cms.ModelsView.Legal.Models.MenuViewModels>

<aside class="left-sidebar">
    <!-- Sidebar scroll-->
    <div>
        <div class="brand-logo d-flex align-items-center justify-content-between">
            <a href="/admin" class="text-nowrap logo-img" style="width:100%; text-align:center;">
                <img src="/Themes/Admin/dist/images/logos/logo_light_80x80.png" class="dark-logo" width="25%" alt="" />
                <img src="/Themes/Admin/dist/images/logos/logo_light_80x80.png" class="light-logo" width="25%" alt="" />
            </a>
            <div class="close-btn d-lg-none d-block sidebartoggler cursor-pointer" id="sidebarCollapse">
                <i class="ti ti-x fs-8 text-muted"></i>
            </div>
        </div>
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav scroll-sidebar" data-simplebar>
            <ul id="sidebarnav">
                @if (Model != null && Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                       
                        @if (item.child != null && item.child.Count()>0)
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link has-arrow" href="#" aria-expanded="false">
                                    <span class="d-flex">
                                        <i class="ti ti-chart-donut-3"></i>
                                    </span>
                                    <span class="hide-menu">@item.title</span>
                                </a>
                                <ul aria-expanded="false" class="collapse first-level">
                                    @foreach(var item_child in item.child)
                                    {<li class="sidebar-item">
                                            <a href="@item.url@item_child.url" class="sidebar-link">
                                            <div class="round-16 d-flex align-items-center justify-content-center">
                                                <i class="ti ti-circle"></i>
                                            </div>
                                                <span class="hide-menu">@item_child.title</span>
                                        </a>
                                    </li>
                                        
                                    }
                                </ul>
                            </li>
                        }
                        else
                        {
                            <li class="sidebar-item">
                                <a class="sidebar-link" href="@item.url" aria-expanded="false">
                                    <span>
                                        <i class="ti ti-aperture"></i>
                                    </span>
                                    <span class="hide-menu">@item.title</span>
                                </a>
                            </li>
                        }
                    }
                }
                else
                {
                    <li class="sidebar-item">
                        <a class="sidebar-link" href="/admin" aria-expanded="false">
                            <span>
                                <i class="ti ti-aperture"></i>
                            </span>
                            <span class="hide-menu">Dashboard</span>
                        </a>
                    </li>
                }
            </ul>
        </nav>
        <div class="fixed-profile p-3 bg-light-secondary rounded sidebar-ad mt-3">
            <div class="hstack gap-3">
                <div class="john-img">
                    <img src="../../dist/images/profile/user-1.jpg" class="rounded-circle" width="40" height="40" alt="">
                </div>
                <div class="john-title">
                    <h6 class="mb-0 fs-4 fw-semibold">Mathew</h6>
                    <span class="fs-2 text-dark">Designer</span>
                </div>
                <button class="border-0 bg-transparent text-primary ms-auto" tabindex="0" type="button" aria-label="logout"
                        data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="logout">
                    <i class="ti ti-power fs-6"></i>
                </button>
            </div>
        </div>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

